
  *{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;

}
a.active h3{
  color: #07af5a;
}
button{
  cursor: pointer;
}
button:hover{
  opacity: .5;

}
select{
  cursor: pointer;


}
option{
  cursor: pointer;
  font-weight: 600;
  border: none;
  outline: none;
   background-color: #171B2C;
   color: #BDC5D9;
}
span{
  cursor: pointer;
}